<div class="container my-4">
  <div class="row g-4">

    <div class="col-lg-4 col-md-6 col-12">
      <a class="text-decoration-none d-block h-100" routerLink="/agv/session">
        <div class="panel panel-dark panel-colorful shadow p-3 bg-white rounded border border-1 h-100 d-flex flex-column justify-content-between text-center">
          <div>
            <p class="text-uppercase mb-2 responsive-title">Gestion Session</p>
            <i class="bi bi-calendar2-check" style="font-size: 50px;"></i>
          </div>
          <div class="mt-0">
            <hr class="mx-auto">
            <small><span><i class="bi bi-calendar2-check"></i> Gestion </span> des sessions</small>
          </div>
        </div>
      </a>
    </div>

    <div class="col-lg-4 col-md-6 col-12">
      <a class="text-decoration-none d-block h-100" routerLink="/agv/visitors">
        <div class="panel panel-dark panel-colorful shadow p-3 mb-5 bg-white rounded border border-1 h-100 d-flex flex-column justify-content-between text-center">
          <div>
            <p class="text-uppercase mar-btm text-sm">Visiteurs</p>
            <i class="bi bi-people-fill" style="font-size: 50px;"></i>
            <hr>
            <small>
              <span class="text-semibold"><i class="bi bi-gear"></i> Gestion </span> des visiteurs
            </small>
          </div>
        </div>
      </a>
    </div>

    <div class="col-lg-4 col-md-6 col-12" *ngIf="isSuperAdmin() || isAdmin()">
      <a class="text-decoration-none d-block h-100" routerLink="/agv/visit">
        <div class="panel panel-dark panel-colorful shadow p-3 mb-5 bg-white rounded border border-1 h-100 d-flex flex-column justify-content-between text-center">
          <div>
            <p class="text-uppercase mar-btm text-sm">Gestion des visites</p>
            <i class="bi bi-people-fill" style="font-size: 50px;"></i>
            <hr>
            <small>
              <span class="text-semibold"><i class="bi bi-gear"></i> Gestion </span> des visites
            </small>
          </div>
        </div>
      </a>
    </div>

     <div *ngIf="isSuperAdmin() || isAdmin()" class="col-lg-4 col-md-6 col-12">
   <a class="text-decoration-none d-block h-100" routerLink="/agv/visit-types">
     <div class="panel panel-dark panel-colorful shadow p-3 mb-5 bg-white rounded border border-1">
       <div class="panel-body text-center border-light">
         <p class="text-uppercase mar-btm text-sm">Type de visite</p>
         <i class="bi bi-house-door" style="font-size: 50px;"></i>
         <hr>
         <small>
           <span class="text-semibold"><i class="bi bi-house-door"></i> Gestion </span> des types de visites
         </small>
         <p class="h2 text-thin"></p>
       </div>
     </div>
   </a>
 </div>

  </div>
</div>
